@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-senac-blue: #004587;
  --color-senac-orange: #FF9A00;
  --color-bg-main: #F8FAFC;
  --color-border-main: #E2E8F0;
}

@layer base {
  body {
    background-color: var(--color-bg-main);
    color: #1E293B;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #E2E8F0 transparent;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #E2E8F0;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #CBD5E1;
  }
}
